/* HEADER CON NAVBAR */

header .nav-item{
    position: static;
}

header .dropdown-menu{
    width: 100%;
    border: none;
    border-radius: 0;
}

header .ms_support-list {
    list-style: none;
  }
  
header .ms_support-list li::before {
    content: "\2022";
    color: blue;
    font-weight: bold;
    margin-right: 10px;
}

header .ms_margin-right{
    margin: 0 50px 0 0;
}

header .ms_playmenu-size{
    width: 70%;
}

.ms_logosony{
    width: 100px;
    padding: 10px;
}

.btn:hover{
    outline-style: double;
    outline-width: 2px;
    outline-color: blue;
    outline-offset: 3px;
    color: #fff;
}

header .btn:hover{
    outline-style: double;
    outline-width: 2px;
    outline-color: #000;
    outline-offset: 3px;
    color: #fff;
}

/* SEZIONE 1 - BANNER GIOCO */

#section1{
    background-image: url(./img/jumbo-bg.png);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    position: relative;
}

.ms_returnal{
    width: 400px;
}

.ms_text-white{
    color: #fff;
}

.ms_jumbo-text{
    position: absolute;
    bottom: 50px;
}

h1{
    font-size: 50px;
}

.ms_jumbo-text p{
    font-weight: 600;
}

.ms_jumbo-text button{
    background-color: #cd3d0f;
    color: #fff;
    font-weight: 600;
}

#section1 .btn:hover{
    outline-style: double;
    outline-width: 2px;
    outline-color: black;
    color: #fff;
    outline-offset: -4px;
}

/* SEZIONE 2 - LISTA GIOCHI E PLAYSTATION5 CON ACCESSORI */

.ms_border-radius{
    border-radius: 20px;
}

.ms_blue{
    color: #177ed2;
}

.ms_bgblue{
    background-color: #2d64e6;
    color: #fff;
    font-weight: 600;
}

.ms_grey{
    color: #747474;
}

#section2 .ms_product-list{
    opacity: 0.5;
}

#section2 .ms_product-list:hover{
    opacity: 1;
}

#section2 .ms_selected:hover{
    border: none;
    border-bottom: 3px solid #2d64e6;
}

#section2 .ms_selected_fix{
    border: none;
    border-bottom: 3px solid #2d64e6;
}

.ms_highlight{
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.ms_highlight:hover{
    margin-top: -1px;
}

.ms_border-highlight{
    border: 3px solid #2d64e6;
    border-radius: 20px;
    padding: 2px;
}

.ms_resize-img{
    width: 100%;
}

@media all and (min-width: 768px) {
    .ms_resize-img{
        width: 60%;
    }
}

/* SEZIONE 3 - BANNER GIOCO */

#section3{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    position: relative;
}

.ms_taketwo{
    width: 300px;
}

#section3 .position-absolute{
    top: 50px;
}

#section3 .btn:hover{
    outline-style: double;
    outline-width: 2px;
    outline-color: red;
    outline-offset: 3px;
}

/* SEZIONE 4 - NUOVE USCITE GIOCHI */

#section4{
    background-color: #1f1f1f;
    color: #fff;
}

#section4 img{
    width: 100%;
}

#section4 p{
    font-weight: 600;
}

#section4 h1{
    font-size: 36px;
}

#section4 .col{
    cursor: pointer;
}

/* SEZIONE 5 - ESPLORA LA PS4 */

#section5 img{
    width: 100%;
}

/* SEZIONE 6 - BANNER PS PLUS */

#section6{
    background-color: #bebcbb;
}

#section6 img{
    width: 100%;
}

.ms_plus-logo{
    width: 80%;
}

#section6 a{
    font-weight: 600;
}

#section6 p{
    font-weight: 600;
}

.ms_none{
    display: none;
}

@media all and (min-width: 768px) {
    .ms_none{
        display: block;
    }    

    .ms_plus-logo{
        width: 50%;
    }

    .ms_now-logo{
        width: 50%;
    }
}

/* SEZIONE 7 - SCONTI PS STORE */

#section7 img{
    width: 100%;
}

/* SEZIONE 8 - BANNER PS NOW */

#section8{
    background-color: #161c3b;
}

#section8 img{
    width: 100%;
}

.ms_now-logo{
    width: 80%;
}

#section8 a{
    font-weight: 600;
}

#section8 p{
    font-weight: 600;
    color: #fff;
}

#section8 .btn:hover{
    color: #000;
}

/* SEZIONE 9 - SOCIAL MEDIA */

#section9 .container{
    max-width: 576px;
}

#section9 img{
    width: 100%;
}

#section9 h1{
    font-size: 40px;
}

/* FOOTER */

footer{
    background-color: #00439c;
    color: #fff;
    text-decoration: none;
}

footer img{
    width: 100px;
}

.ms_language img{
    width: 20px;
}

footer ul{
    list-style: none;
}

footer li{
    cursor: pointer;
}

.ms_logosie{
    width: 150px;
}

.ms-margin-bottom{
    margin-bottom: 100px;
}

