.ms_logosony{
    width: 100px;
    padding: 10px;
}

#section1{
    background-image: url(./img/jumbo-bg.png);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    position: relative;
}

.ms_returnal{
    width: 400px;
}

.ms_text-white{
    color: #fff;
}

.ms_jumbo-text{
    position: absolute;
    bottom: 50px;
}

h1{
    font-size: 50px;
}

.ms_jumbo-text p{
    font-weight: 600;
}

.ms_jumbo-text button{
    background-color: #cd3d0f;
    color: #fff;
    font-weight: 600;
}

#section2 img{
    width: 100%;
}

.ms_border-radius{
    border-radius: 20px;
}

.ms_blue{
    color: #177ed2;
}

.ms_bgblue{
    background-color: #2d64e6;
    color: #fff;
    font-weight: 600;
}

.ms_grey{
    color: #747474;
}

#section2 .ms_product-list{
    opacity: 0.5;
}

#section2 .ms_selected{
    border: none;
    border-bottom: 3px solid #2d64e6;
}

#section3{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    position: relative;
}

.ms_taketwo{
    width: 300px;
}

#section3 .position-absolute{
    top: 50px;
}

#section4{
    background-color: #1f1f1f;
    color: #fff;
}

#section4 img{
    width: 100%;
}

#section4 p{
    font-weight: 600;
}

#section4 h1{
    font-size: 36px;
}

#section5 img{
    width: 100%;
}




